<h1>Account Application</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @lead2acc.name %>
  </li>

  <li>
    <strong>Age:</strong>
    <%= @lead2acc.age %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @lead2acc.email %>
  </li>

  <li>
    <strong>Account Number:</strong>
    <span>- - - - - - - - - - - - - - - -</span>
  </li>

</ul>

<h2><%= link "Approve & Create Account", to: Routes.account_path(@conn, :gen_acc_num, @lead2acc.name) %></h2>
