<h1>Listing Leads</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for lead <- @leads do %>
    <tr>
      <td><%= lead.name %></td>
      <td><%= lead.age %></td>
      <td><%= lead.email %></td>

      <td>
        <span><%= link "View Application", to: Routes.account_path(@conn, :create, lead) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
